/* Header */
header{
    position: sticky;
    top: -25px;
    right: 0;
    left: 0;
    z-index: 2000;
}

header [src*=sony]{
    height: 25px;
}

.my-chevron{
    width: 10px;
    margin-right: 3px;
}

header li{
    transition: transform .5s;
}

header li:hover{
    transform: scale(1.1);
}

header li:hover .my-chevron img{
    display: none;
}

header li:hover .my-chevron img.d-none{
    display: inline-block !important;
}

header li:hover a{
    color: var(--bs-primary) !important;
}


/* ************************************************************************ */

/* Main */
section.my-bg-banner{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Jumbotron */
.my-jumbotron{
    padding-top: 15rem;
    background-image: url(../img/jumbo-bg.png);
}

.my-bg-banner img,
.my-banner img{
    width: 60%;
    display: block;
}
/* ------------------------------------- */

/* gallery */
section.my-gallery div.rounded-4:hover{
    border-color: var(--bs-primary) !important;
}

section.my-gallery div.rounded-4{
    transition: all .5s;
}
/* ------------------------------------- */

/* articoli ps-5 */
.barra-inferiore{
    position: absolute;
    bottom: -5px;
    left: 50%;
    height: 3px;
    width: 0;
    transition: all .5s;
    background-color: var(--bs-primary);
}

section.my-ps5-articles .position-relative:hover .barra-inferiore{
    left: 5%;
    width: 90%;
}
section.my-ps5-articles .position-relative .text-center{
    transition: font-weight .3s;
}

section.my-ps5-articles .position-relative:hover .text-center{
    font-weight: bold;
}

section small{
    font-size: 8px;
    vertical-align: text-top;
}
/* ------------------------------------- */

/* it takes two */
.my-takes-two{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}
/* ------------------------------------- */

/* articoli ps4 */
.my-ps4-articles small{
    font-size: 1rem;
}
/* ------------------------------------- */

/* Play station plus */
.my-btn{
    background-color: var(--bs-gray-300);
    color: var(--bs-primary)
}

.my-btn:hover{
    color: var(--bs-primary);
    background-color: var(--bs-gray-200);
}

.my-btn:active{
    color: var(--bs-primary) !important;
    background-color: var(--bs-gray-100) !important;
}

/* ************************************************************************ */

/* Footer */

/* ************************************************************************ */
/*                             Media Query                                  */
/* ************************************************************************ */

@media screen and (max-width: 991px) {
    header input + div{
        top: -500%;
        transition: top .5s;
        opacity: 0;
        position: absolute;
        z-index: -1;
    }

    header input:checked + div{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: white;
        border-top: 1px solid var(--bs-secondary);
        padding: 1rem .75rem 1rem 0;
        opacity: 1;
    }

    header input:checked + div ul:first-child{
        flex-direction: column;
    }

    header input:checked + div ul:last-child{
        align-items: flex-start;
    }
}

@media screen and (max-width: 422px){
    header input:checked + div ul:last-child{
        flex-direction: column;
        gap: 1rem;
        align-items: flex-end;
    }
}